@import "tailwindcss";

@layer utilities {
  @keyframes shrink {
    from {
      width: 100%;
    }

    to {
      width: 0%;
    }
  }

  .animate-shrink {
    animation: shrink 3.5s linear forwards;
  }
}